/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
    font-size: 100%;
}

body {}


/******************************************
/* LAYOUT
/*******************************************/
header {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    background: #289D8F;
    color: white;
    text-shadow: 1px 1px 1px #000;
}

.display {
    display: flex;
    justify-content: center;
}

.main {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;

}

.squareContainer {
    display: grid;
    justify-content: center;

   
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    /* gap: 30px; */
    animation-duration: 2s;
    animation-iteration-count: 1;
    height: 80vh;
    min-width: 30%;




}

.squares {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 2px 6px #022c27;
    border: 1px solid black;
    transition: 1s ease-in;
    font-size: 6rem;
    font-family: 'Nunito', sans-serif;
    background: #2a9d8f;
    border-radius: 20px;
    min-width: 30%;
}

.hide {
    display: none;
}

button {
    width: 10%;
    height: 10%;
    border-radius: 10px;
}


.bounce {
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-100px);
    }

    50% {
        transform: scale(1.05, .95) translateY(0);
    }

    57% {
        transform: scale(1, 1) translateY(-7px);
    }

    64% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}



Resources

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 800px) {
    section {
        background: blue;
    }
}